USE [master]
GO
/****** Object:  Database [Examen2]    Script Date: 4/11/2020 6:01:58 PM ******/
CREATE DATABASE [Examen2]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Examen2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Examen2]
GO
/****** Object:  Table [dbo].[Ingredientes]    Script Date: 4/11/2020 6:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredientes](
	[IdIngrediente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](250) NULL,
	[Descripcion] [nchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 4/11/2020 6:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[IdMenu] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](250) NOT NULL,
	[Descripcion] [nchar](250) NULL,
	[Horario] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
